
{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
<div class="dark:bg-secondary/20 p-4 border-4 border-tertiary border-offset-8 rounded-lg w-5/6 flex flex-col mx-auto backdrop-blur-sm mt-24">
    <h1 class="text-3xl dark:text-white light:text-black text-center font-bold">Page not found</h1>
    <p class="dark:text-white light:text-black light:font-bold text-lg text-center dark:font-medium mt-3">The requested page could not be found. Please check the URL or try again later.</p>
</div>
{% endblock %}
