{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {{user}}

    {% if programs| length > 0 %}

        {% for program in programs %}
            {{program}}
        {% endfor %}

    {% else %}

        <p>it seems that you don't have any Workout planned, let's add some !</p>

    {% endif %}



{% endblock %}
