{% extends 'base.html.twig' %}

{% block title %}Welcome to MuscleMind{% endblock %}

{% block body %}
 <!-- Header Section -->
 <header class="w-full -mt-16 bg-secondary text-white text-center flex flex-col justify-between">
    <div class="flex flex-row  items-center h-full  ">
        <div  class="w-full h-full ">
            <img  class="h-full object-cover  " src="{{ asset('img/landing/test.png')}}" alt="MuscleMind">
            {# <img src="{{ asset('img/landing/landing-image.png') }}" alt="MuscleMind" class="w-1/2"> #}
       </div>
       <div class="w-1/2 flex flex-col justify-end mr-10">
           <h1 class="text-5xl font-bold text-end  pt-8">MuscleMind</h1>
           <p class="mt-2 text-lg text-end">Your personalized fitness companion</p>
       
           <h2 class=" text-end text-4xl font-bold my-6">Transform Your Fitness Journey</h2>
           <p class=" text-end mb-8 text-lg">Create custom workouts, track progress, and understand your muscles better.</p>
           <a href="{{ path('app_register') }}" class="w-3/4 mx-auto text-center px-8 py-4 mb-8 bg-quinary text-white font-bold rounded-lg hover:bg-quaternary hover:text-black duration-150 transition transform hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">Get Started</a>
       </div>
    </div>
    <div class="w-full bg-primary h-24">

    </div>
</header>

<!-- Features Section -->
<section class="text-center my-16">


</section>



    {# <!-- Call to Action Section -->
    <section class="text-center my-16">
        <h2 class="text-3xl font-bold mb-4">Ready to get started?</h2>
        <p class="mb-6">Join MuscleMind today and take your fitness journey to the next level.</p>
        <a href="{{ path('app_register') }}" class="px-8 py-4 bg-secondary text-white rounded-full hover:bg-tertiary duration-150">Sign Up Now</a>
    </section> #}
{# </main> #}
{% endblock %}
