{% extends 'base.html.twig' %}

{% block body %}
    <div id="calendar-holder"
        class="w-10/12 max-w-[1200px] max-h-1/2 my-8 p-4 rounded-lg shadow-lg dark:bg-primary light:bg-primary_light dark:text-white light:text-black">
    </div>

    <div
        class="dark:bg-secondary/60 light:bg-secondary_light/60 dark:text-white light:text-black p-4 rounded-lg w-5/6 mt-10 max-w-screen-lg backdrop-blur-md shadow-lg">
        <div class="mt-4 px-4 py-2 mb-8 rounded-lg dark:bg-primary/60 light:bg-primary_light/60">
            <h1 class="text-center font-bold text-2xl px-2 py-4">Batch delete your sessions</h1>
        </div>

        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

<script>

    var calendarEl = document.getElementById('calendar-holder');

var calendar = new FullCalendar.Calendar(calendarEl, {
    initialView: 'dayGridMonth',
    editable: true,
    headerToolbar: {
        start: 'prev,next today',
        center: 'title',
        end: 'dayGridMonth,timeGridWeek,timeGridDay'
    },
    timeZone: 'UTC',
    events: function (fetchInfo, successCallback, failureCallback) {
        console.log('Fetching events...');
        fetch('/calendar')
            .then(response => response.json())
            .then(data => {
                console.log('Events data:', data);
                successCallback(data);
            })
            .catch(error => {
                console.error('Error fetching events:', error);
                failureCallback(error);
            });
    },
    eventClick: function (info) {
        var programId = info.event.extendedProps.programId;
        
        // Confirmation personnalisée
        var confirmed = showCustomConfirm();
        
        if (confirmed) {
            deleteEvent(info.event.id);
            info.event.remove();
        } else {
            redirectToEditEvent(programId);
        }
    }
});

calendar.render();

function showCustomConfirm() {
    return confirm('Voulez-vous : \n\n - Voir le contenu\n - Supprimer la session');
}

function redirectToEditEvent(programId) {
    // Redirection vers la page d'édition du programme
    window.location.href = '/training/edit/' + programId;
}

function deleteEvent(id) {
    fetch('/calendar/delete/' + id, {
        method: 'DELETE'
    })
    .then(response => {
        if (response.ok) {
            console.log('Event deleted');
            calendar.refetchEvents();
        } else {
            console.error('Failed to delete event');
        }
    })
    .catch(error => {
        console.error('Error deleting event:', error);
    });
}

</script>
{% endblock %}