{% extends 'base.html.twig' %}

{% block body %}
<div id="calendar-holder"
    class="w-10/12 my-8 p-4 rounded-lg shadow-lg dark:bg-primary light:bg-primary_light dark:text-white light:text-black">
</div>

<div
    class="dark:bg-secondary/60 light:bg-secondary_light/60 dark:text-white light:text-black p-4 rounded-lg w-5/6 mt-10 max-w-screen-lg backdrop-blur-md">
    <div class="mt-4 px-4 py-2 mb-8 rounded-lg dark:bg-primary/60 light:bg-primary_light/60">
        <h1 class="text-center font-bold text-2xl px-2 py-4">Batch delete your sessions</h1>
    </div>

    {{ form_start(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
<script>
    console.log('DOM loaded');
    var calendarEl = document.getElementById('calendar-holder');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth', // Updated property name
        editable: true,
        headerToolbar: {
            start: 'prev,next today',
            center: 'title',
            end: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        timeZone: 'UTC',
        events: function (fetchInfo, successCallback, failureCallback) {
            console.log('Fetching events...');
            fetch('/calendar')
                .then(response => response.json())
                .then(data => {
                    console.log('Events data:', data);
                    successCallback(data);
                })
                .catch(error => {
                    console.error('Error fetching events:', error);
                    failureCallback(error);
                });
        }
    });

    calendar.render();
</script>
{% endblock %}