<h1>Welcome to MuscleMind!</h1>

<p>
    Thank you for registering on MuscleMind. To complete your registration, please confirm your email address by clicking the link below: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    This link will disintegrate in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    We're excited to have you join our community. If you have any questions, feel free to reach out to us.
</p>

<p>
    Best regards,<br>
    The MuscleMind Team
</p>
