{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="w-full mt-24 max-w-xl mx-auto flex flex-col justify-center space-y-4 dark:bg-primary px-4 pt-4 pb-8 rounded-lg shadow-lg">
        <h1 class="text-center text-2xl font-bold my-8>Reset your password">Reset your password</h1>
    
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Enter your email address, and we will send you a
                    link to reset your password.
                </small>
            </div>
    
            <button class="px-4 py-2 rounded-2xl mt-2 dark:bg-tertiary drop-shadow-xl hover:bg-quinary duration-150">Send email</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}
