

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --nav: #07080d;
    --primary: #000814;
    --secondary: #001d3d;
    --tertiary: #003566;
    --quaternary: #f6cbf4;
    --quinary: #00a6fb;
    --senary: #ffc300;
  
    --nav-light: #0077b6;
    --primary-light: #48cae4;
    --secondary-light: #90e0ef;
    --tertiary-light: #ade8f4;
    --quaternary-light: #f6cbf4;
    --quinary-light: #00a6fb;
    --senary-light: #ffc300;
  }
  
  [data-theme='light'] {
    --nav: var(--nav-light);
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --tertiary: var(--tertiary-light);
    --quaternary: var(--quaternary-light);
    --quinary: var(--quinary-light);
    --senary: var(--senary-light);
  }
  


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/img/pattern.svg) repeat;
    /* filter: blur(2px); */
    z-index: -1; 
}

body {
    /* background-color: var(--primary); */
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    position: relative; 
    margin: 0; 
}

main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* .navbar-up {
    z-index: 1000;
    background-color: #07080d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
}

.navbar-down {
    
    z-index: 1000;
    background-color: #07080d;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1.5rem;
    text-align: center;
} */

.menu {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}
    
.menu-open {
    transform: translateX(100%);
}

.stroke {
    text-shadow:
        1px 0 var(--black),
        -1px 0 var(--black),
        0 1px var(--black),
        0 -1px var(--black),
        1px 1px var(--black),
        -1px -1px var(--black),
        1px -1px var(--black),
        -1px 1px var(--black);
}
        
#PROGRESS {
    display: none;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination a, .pagination span {
    color: #9b9b9b;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.pagination .current, .pagination a:hover {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 25px;
}



