

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #07080d;
    --secondary-color: #17263a;
    --tertiary-color: #3d6389;
    --quaternary-color: #f6cbf4;
    --quinary-color: #2d78c7;

    --white: #ffffff;
    --black: #000000;
}


body {
    /* background: url(/misc/pattern.png); */

    background-color: var(--secondary-color);
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
}

main {
    /* margin-top: 10dvh;
    margin-bottom: 10dvh; */
    /* height: 80dvh; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.navbar-up {
    z-index: 1000;
    background-color: #07080d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
}

.navbar-down {
    
    z-index: 1000;
    background-color: #07080d;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1.5rem;
    text-align: center;
}

a:hover path {
    fill: red;
}