

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #07080d;
    --secondary-color: #17263a;
    --tertiary-color: #3d6389;
    --quaternary-color: #f6cbf4;
    --quinary-color: #2d78c7;

    --white: #ffffff;
    --black: #000000;
}


body {
    background-color: #07080d;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    a:visited {
        color: aliceblue;
    }
}

main {
    /* position: relative; */
    height: 100dvh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    margin-bottom: 1rem;

}

.flex {
    display: flex;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */

    .field {
        margin: 0.5rem;
        padding: 0.5rem;
        border: 1px solid var(--tertiary-color);
        border-radius: 10px;
        background-color: var(--white);
        color: rgb(0, 0, 0);
        /* width: 100%; */
    }
    .checkbox {
        margin: 0.5rem;
        padding: 0.5rem;
        /* border: 1px solid var(--tertiary-color); */
        /* border-radius: 10px; */
        /* background-color: var(--white); */
        color: var(--white);
        /* width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; */
    }
    .btn-connect{
        margin: 0.5rem;
        padding: 0.5rem;
        border: 1px solid var(--quinary-color);
        border-radius: 10px;
        background-color: var(--quinary-color);
        color: var(--white);
        width: 100%;
        cursor: pointer;
    }
}

.navbar-up {
    z-index: 1000;
    background-color: #07080d;
    position: fixed;
    top: 0;
    left: 0;
    /* transform: translateX(-50%); */
    width: 100%;
    padding: 1.5rem;
    /* text-align: center; */
    /* display: flex; */

}

.navbar-down {
    
    z-index: 1000;
    background-color: #07080d;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    /* display: flex; */
}

/* i'll most definetly adjust the colors and precision of my hovering
but for now everything is going to be highlithed in red */
/* also that was very unnecessary for me to write */
/* .Chest:hover .Pec,
.Abdominals:hover .LowerAb,
.Back:hover .Lats,
 .Trapezius:hover .Trap,
 .Trapezius:hover .Neck,
 .Shoulders:hover .Shoulder,
.Obliques:hover .Oblique,
.Biceps:hover .Bicep,
.Forearms:hover .Forearm,
.Abductors:hover .Adductor,
.Adductors:hover .Abductor,
.Quadriceps:hover .Quad,
.Calves:hover .calf
 {
    fill: red;
} */

/* this is much better */
a:hover path {
    fill: red;
}