{# templates/bundles/EasyAdminBundle/layout.html.twig #}
{% extends '@EasyAdmin/layout.html.twig' %}

{% block content %}
{# custom content goes here #}
<a class="text-lg font-semibold" href="{{path('app_home')}}">Back to app</a>
{% endblock %}