{% extends 'base.html.twig' %}

{% block title %}MuscleMind{% endblock %}

{% block body %}
<div class="w-5/6 mx-auto my-8">
    <div class="dark:bg-secondary/60 light:bg-secondary_light/60 rounded-lg p-9 backdrop-blur-md drop-shadow-xl">
        <h1 class="text-2xl font-bold mb-6">User List</h1>
        <ul class="space-y-4">
            {% for user in users %}
                <li class="dark:bg-primary/70 rounded-lg py-4 px-6 hover:scale-105 hover:outline hover:outline-secondary duration-150 drop-shadow-xl">
                    <a class="text-lg font-medium" href="{{ path('app_user_details', {'id': user.id}) }}">{{ user }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if users|length == 0 %}
            <p class="text-center mt-6">No users found</p>
        {% endif %}
    </div>
</div>
{% endblock %}
