{% extends 'base.html.twig' %}

{% block title %}MuscleMind{% endblock %}

{% block body %}

    
{% for user in users %}
<a href="{{path ('app_user_details', {'id' : user.id})}}">{{user}}</a><br><br>
{% endfor %}



{% endblock %}
