
{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}


<div class="dark:dark:bg-secondary light:bg-primary_light w-12 h-12">
    <!-- Contenu de votre élément -->
  </div>
  

<div class="dark:bg-secondary/60 light:bg-secondary_light/60 p-8 rounded-lg w-5/6 mt-10 max-w-screen-lg  backdrop-blur-md">
    <div class="my-1 px-8 py-6 mb-4 rounded-lg dark:dark:bg-primary/60 light:bg-primary_light/60 light:bg-primary_light/60">
        <h1 class="text-center font-bold text-2xl px-2 py-4">Add or edit a muscle</h1>
    </div>
    {{form_start(muscleForm)}}
    {{form_end(muscleForm)}}
</div>
<a href="{{ path('app_muscle') }}" class="mt-4 mx-auto dark:text-white light:text-black hover:underline duration-150"><i class="fa-solid fa-arrow-left"></i> Back to index</a>
{% endblock %}


