{% extends 'base.html.twig' %}

{% block title %}Hello MuscleController!{% endblock %}

{% block body %}

<div class="dark:bg-secondary/50 p-8 rounded-lg w-5/6 mt-10 max-w-screen-lg  backdrop-blur-md">
    <h1 class="text-center font-bold text-2xl px-2 py-4 mb-8">Create a new ressource</h1>
    <div class="dark:bg-primary/70 p-8 rounded-lg w-full mt-10 max-w-screen-lg  backdrop-blur-md">
        {{ form_start(formAddRessource) }}
        
        {{ form_end(formAddRessource) }}
    </div>
</div>

<a href="{{ path('app_ressource') }}">back to list</a>

{% endblock %}
