{% extends 'base.html.twig' %}

{% block title %}Hello MuscleController!{% endblock %}

{% block body %}

{% if tag %}   
    {{tag}} <br><br>

    {% for ressource in tag.ressources %}
        <a href="{{path ('app_ressource_detailsRessource', {'id' : ressource.id})}}">{{ressource}}</a> <br>
    {% endfor %}

{% endif %}

{% endblock %}
