{% extends 'base.html.twig' %}

{% block title %}Hello RessourceController!{% endblock %}

{% block body %}

{% if tags %}
    <ul>
        {% for tag in tags %}
            <li>{{ tag }}</li>
        {% endfor %}
    </ul>

    {% if ressources %}
    <ul>
        {% for ressource in ressources %}
            <li>{{ ressource.title }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No ressources found</p>
    {% endif %}
{% endif %}


{% endblock %}
