{% extends 'base.html.twig' %}

{% block title %}Hello RessourceController!{% endblock %}

{% block body %}

{% if tags %}
    <ul>
        {% for tag in tags %}
            <li><a href="{{path ('app_ressource_detailsTag', {'id' : tag.id})}}">{{tag}}</a></li>
        {% endfor %}
    </ul>

    {% if ressources %}
    <ul>
        {% for ressource in ressources %}
            <li><a href="{{path ('app_ressource_detailsRessource', {'id' : ressource.id})}}">{{ressource}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No ressources found</p>
    {% endif %}
{% endif %}


{% endblock %}
