{% extends 'base.html.twig' %}

{% block title %}Hello MuscleController!{% endblock %}

{% block body %}

<h1>Create a new ressource</h1>

{{ form_start(formAddRessource) }}
   
{{ form_end(formAddRessource) }}

{# <a href="{{ path('ressource_index') }}">back to list</a> #}

{% endblock %}
