{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="bg-secondary/60 p-8 rounded-lg w-5/6 mt-10 max-w-screen-lg  backdrop-blur-md">
    <div class="my-1 px-8 py-6 mb-4 rounded-lg bg-primary/60">
        <h1 class="text-center font-bold text-2xl px-2 py-4">Update your password</h1>
    </div>

    {{ form_start(updatePasswordForm) }}

    
    {{ form_end(updatePasswordForm) }}
</div>
{% endblock %}
