{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Update your password</h1>

    {{user}} <br>
    


    {{ form_start(updatePasswordForm) }}

    
    {{ form_end(updatePasswordForm) }}
{% endblock %}
