

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #07080d;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
}


div {
    margin: 50px;
}


/* This */
/* 
.Biceps path:hover, 
.Obliques path:hover, 
.Abdominals g path:hover,
.Shoulder path:hover,
.Back path:hover,
.Trapezius path:hover,
.Chest path:hover,
.Forearms path:hover,
.Abductors path:hover,
.Adductors path:hover,
.Quadriceps path:hover,
.Calves path:hover,
.Neck path:hover {
    fill: red;
} */


/* is the equivalent of that, i don't even know why i bothered writingf the whole thing... */
a g path:hover {
    fill: red;
}