

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #07080d;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
}


div {
    margin: 50px;
}


a g.biceps:hover {
    background-color: red;
}