{% extends 'base.html.twig' %}

{% block title %}Hello MuscleController!{% endblock %}

{% block body %}

    <h1>Details Muscle</h1>
    {# <p>Id: {{ muscle.id }}</p> #}
    <p>Name: {{ muscle}}</p>
    <p>Function: {{muscle.muscleFunction}}</p>
   

    <a href="{{ path('app_muscleGroup_details', {'id' : muscleGroup.id}) }}">Back to muscle group</a>

   

{% endblock %}
