
{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}

    <h1>add/edit a muscle</h1>

    {{form_start(muscleForm)}}
    {{form_end(muscleForm)}}

    <a href="{{ path('app_muscle') }}">Back to index</a>
{% endblock %}


