{% extends 'base.html.twig' %}

{% block title %}Hello ExerciceController!{% endblock %}

{% block body %}

    <h1>ExerciceController</h1>

    {{form_start(exerciceForm)}}
    {{form_end(exerciceForm)}}

    <a href="{{ path('app_exercice') }}">Back to index</a>
{% endblock %}


