{% extends 'base.html.twig' %}

{% block title %}Hello TrainingController!{% endblock %}

{% block body %}

<h1>Compose your own workout session !</h1>

{{form_start(formAddProgram)}}
{{form_end(formAddProgram)}}


{% endblock %}
