
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Update your username</h1>

    {{user}} <br>
    

    current username: {{user.username}}

    {{ form_start(updateUsernameForm) }}
    {{ form_end(updateUsernameForm) }}
    
{% endblock %}

