
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="bg-secondary/60 p-8 rounded-lg w-5/6 mt-10 max-w-screen-lg  backdrop-blur-md">

    <h1>Update your Infos</h1>

    {% set lastWarningMessage = app.flashes('error') | last %}
    
                {% if lastWarningMessage is not empty %}
                    <div class="alert alert-warning bg-violet-500 text-center text-white rounded-lg px-8 py-4 mt-8">
                        {{ lastWarningMessage }}
                    </div>
                {% endif %}

    {{ form_start(updateProfileForm) }}
    {{ form_end(updateProfileForm) }}
</div>
{% endblock %}

