
{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Update your username</h1>

    current username: {{user.username}} <br><br>

    {{ form_start(updateUsernameForm) }}
    {{ form_end(updateUsernameForm) }}
    
{% endblock %}

